<div class="home-container">
    <h1>Veja as Suas Reservas:</h1>
    <div class="search-container">
       <form >
           <fa-icon [icon]="faSearch"></fa-icon>
           <input type="text" placeholder="Ou busque pelo seu veículo..."
           (input)="search($event)">
       </form>
    </div>
   <div>
       <div *ngIf="reservas && reservas.length > 0; else noMoments">
       <div class="card-container">
   
           <div class="card" *ngFor="let reserva of reservas">
            <h3>Veículo:{{reserva.descricaoVeiculo}} </h3>
            <h3>Data Incial: {{reserva.dataInicial}}</h3>
            <h3>Data Final: {{reserva.dataFinal}}</h3>
            <h3>Valor Pago: {{reserva.valorPagamento}}</h3>
             <h3>Pagamento: {{reserva.formaPagamento}}</h3> 
             <input class="input" type="submit" routerLink="edit" value="Editar">
 
                 <button class="remove-btn" (click)="(reserva.id_reserva)">
                    Disponibizar Reserva
                </button>
            </div>
       </div>
   </div>
   <ng-template #noMoments>
       <h1>Você Não Possui Reservas</h1>
    </ng-template>
   </div>
   
